/* Initial width and height meant
   exclusively for mobile, @medias to be
   applied later to scale for desktops */
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
   
   .container {
    display: grid;
    /* max-width: 414px; */
    position: relative;
    height: 98vh;
    grid-template-rows: 56px 1fr;
    margin: auto;
    margin-top: 0.5%;
    max-width: 750px;
    min-width: 500px;
    grid-template-areas: 
      "header"
      "component";
  }
  
  .header {
    width: 100%;
    height: 100%;
    grid-area: header;
  }
  
  .component {
    height: 100%;
    grid-area: component;
    padding: 0 5%;
  }