.conditionalRenderP {
  position: absolute;
  top: 8%;
  bottom: auto;
  right: auto;
  left: 87%;
  text-align: right;
  /* margin-right: 2%; */
  font-size: 1rem;
  cursor: pointer;
  color: blue;
}

.subheader {
  margin-top: 5%;
}
