.loading {
  margin-top: 9vh;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #555; /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin-left: 50%;
}
  
@keyframes spin {
  0% {
     transform: rotate(0deg);
    }
  100% {
    transform: rotate(360deg);
  }
}
  