.container {
  display: grid;
  z-index: 200;
  width: 100%;
  grid-template-columns: 10% 1fr;
  grid-template-areas: 
    "box category";
  border: 1px solid grey;
  border-radius: 3px;
  box-sizing: border-box;
}

.container:hover{
  background-color: grey;
}

.select{
  display: flex;
  grid-area: box;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.box{
  width: 60%;
  height: 60%;
  border: 1px solid lightblue;
  border-radius: 3px;
}

.category{
  grid-area: category;
}