.container {
  width: 415px;
  max-width: 500px;
  height: 100vh;
}

.subcontainer{
  display: grid;
  width: 100%;
  height: 100%;
  padding: 5px;
  grid-template-rows: repeat(1fr, 3);
  grid-template-areas:
    "header"
    "filter"
    "map";
  box-sizing: border-box;
}

.map{
  grid-area: filter;
  width: 100%;
  height: 100%;
}