.NavBarContainer {
  position: relative;
  top: 9vh;
  bottom: 0;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: repeat(7, .5fr);

}

.NavBarContainer button {
  margin: 9% 5%;
  background-color: lightgray;
  height: 3rem;
  width: 11rem;
  border-radius: 32px;
}
