.NavBarContainer {
  position: relative;
  top: 9vh;
  bottom: 0;
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: repeat(8, 0.5fr);
}

.NavBarContainer button {
  margin: 10% 20%;
  background-color: white;
  height: 3rem;
  width: 11rem;
  border-radius: 32px;
}

.conditionalRenderP {
  text-align: center;
  margin: auto;
  font-size: 22px;
  cursor: pointer;
}
