.NavBarContainer {
  position: relative;
  top: 3vh;
  bottom: 0;
  display: grid;
  /* grid-template-columns: 290px; */
  grid-template-rows: repeat(8, 0.5fr);
}

.NavBarContainer button {
  margin: 10% 20%;
  background-color: white;
  height: 3rem;
  width: 11rem;
  border-radius: 32px;
}

/* .topSquareContainer {
 
} */

.username {
  text-align: center;
  margin: auto;
  font-size: 22px;
  cursor: pointer;
  padding-bottom: 7%;
  border-bottom: 2px solid #34435e;
}
