.NavBarContainer {
  position: relative;
  top: 50px;
  bottom: 0;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr;
}

.NavBarContainer button {
  margin: 9% 5%;
  background-color: lightgray;
  height: 3rem;
  width: 11rem;
  border-radius: 32px;
}
