.btnWrapper {
  display: flex;
  justify-content: space-around;
  margin: 5px 0 10px;
}

.reachOutBtn, .resolvedBtn, .disputeBtn, .disputed {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid lightgray;
  box-shadow: 1px 2px 2px -2px;
}

.reachOutBtn:hover, .resolvedBtn:hover, .disputeBtn:hover {
  box-shadow: 2px 1px 4px 0px dimgrey;
  cursor: pointer;
}

.disputed {
  font-weight: 500;
}

.disputeBtn, .disputed {
  background-color: #2f4abf;
  color: white;
}

.resolvedBtn {
  background-color: #8ec4a8;
}

.reachOutBtn {
  background-color: #fce299;
}
  